body {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.contenido {
  min-height: 100vh;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding-top: 5rem; /* Espacio para la navbar */
  display: flex;
  flex-direction: column;
}

.contenido.visible {
  opacity: 1;
}

main {
  min-height: 100vh;
  flex: 1;
}